extends layout

block content
  meta(property="og:image" content='/image/optimized/' + image.image_id + image.extension)
  .panel.panel-default.container.fixed-panel
    .content-title
      h3
        = image.title
    .text-center.panel-body
      .image-container
        a(href='/image/optimized/' + image.image_id + image.extension)
          img.text-center(src='/image/optimized/' + image.image_id + image.extension)
    .text-left.well.well-sm.image-desc
      div(style="font-style:italic;")
        = image.description
      div Uploaded by: !{' '}
        a(href='/user/' + uploader.id + '/uploaded')
          = uploader.username
      if votable
        div Score: !{' '}
          span(id=image.image_id + '-score')
            = score
        div.btn-group.btn-group-xs
          button.btn.btn-default.vote-button(class=vote==1?'active':''
            type="button" data-href="/content/up?imageId=" + image.image_id) Up
          button.btn.btn-default.vote-button(class=vote==-1?'active':''
            type="button" data-href="/content/down?imageId=" + image.image_id) Down
      nav
        ul.pager(style="margin-top:0px; margin-bottom:0px;")
          li
            a(id="previous_link" href='/content/previous?imageId=' + image.image_id) Previous
          li !{' '}
          li
            a(id="next_link" href='/content/next?imageId=' + image.image_id) Next

  div#comment-div(data-href='/image/' + image.image_id + '/comments')