extends layout

block content
  .panel.panel-default.container.fixed-panel
    div
      h3
        = image.title
    div.text-center.panel-body
      img.text-center(src='/image/optimized/' + image.image_id + image.extension)
    .text-left.well.well-sm
      div(style="font-style:italic;")
        = image.description
      div Uploaded by: !{' '}
        a(href='/user/' + uploader.id + '/uploaded')
          = uploader.username
      div Score: !{' '}
        span(id=image.image_id + '-score')
          = score
      div.btn-group.btn-group-xs
        button.btn.btn-default.vote-button(class=vote==1?'active':''
          type="button" data-href="/image/" + image.image_id + "/up") Up
        button.btn.btn-default.vote-button(class=vote==-1?'active':''
          type="button" data-href="/image/" + image.image_id + "/down") Down
      nav
        ul.pager(style="margin-top:0px; margin-bottom:0px;")
          li
            a(id="previous_link" href='/image/' + image.image_id + '/previous') Previous
          li !{' '}
          li
            a(id="next_link" href='/image/' + image.image_id + '/next') Next

  div#comment-div(data-href='/image/' + image.image_id + '/comments')
  if user
    .container
      form(action="/comment/create" id='comment-form', method='POST')
        .col-sm-6.col-sm-offset-3
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='image_id', value=image.image_id)
          .form-group
            label.control-label(for='comment') Comment
            textarea.form-control(rows='2', name='comment', id='comment')
          .form-group
            button.btn.btn-success(type='submit')
              span.ion-person-add
              | Post