extends layout

block content

  .page-header
    h3 Best Images
  div
    each image_row in images
      div.row
        each image in image_row
          div.col-xs-6.col-md-3
            div.thumbnail
              a(href='/image/' + image.image_id)
                img(src='/image/thumbnail/' + image.image_id + '.jpg')
              div.caption
                div Score: !{' '}
                  span(id=image.image_id + '-score')
                    =scores[image.id]
                div
                  span
                    a.up_link(href='/image/' + image.image_id + '/up') Up
                  span !{' | '}
                  span
                    a.down_link(href='/image/' + image.image_id + '/down') Down
  div
    nav
      ul.pager
        li.previous(class=pagination.previous_enabled)
          a(id='previous_link' href=pagination.previous_link) &larr; Better
        li.next(class=pagination.next_enabled)
          a(id='next_link' href=pagination.next_link) Worse &rarr;
